---
title: How to use Sapper
slug: how-to-use-sapper
---

## Step one

Create a new project, using [degit](https://github.com/Rich-Harris/degit):

> npx degit "sveltejs/sapper-template#rollup" my-app
> cd my-app
> npm install # or yarn!
> npm run dev


## Step two

Go to [localhost:3000](http://localhost:3000). Open `my-app` in your editor. Edit the files in the `src/routes` directory or add new ones.

## Step three

...

## Step four

Resist overdone joke formats.
